<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book a Club Space</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
</head>

<body>
    <div class="container">
        <!-- Logout Button positioned at the top right -->
        <div class="logout-button">
            <a href="/logout"><button>Logout</button></a>
        </div>

        <!-- Header -->
        <div class="header">
            <h1>Book a Club Space</h1>
        </div>

        <!-- Booking Form -->
        <form action="/bookings/" method="post">
            <div class="form-group">
                <label for="club_name">Club Name:</label>
                <input type="text" id="club_name" name="club_name" required>
            </div>
            <div class="form-group">
                <label for="space_id">Space:</label>
                <select id="space_id" name="space_id" required class="scrollable-select">
                    <option value="">Select a space</option>
                    <option value="1">SH1</option>
                    <option value="2">SH2</option>
                    <option value="3">SH3</option>
                    <option value="4">1A</option>
                    <option value="5">1B</option>
                    <option value="6">1C</option>
                    <option value="7">1D</option>
                    <option value="8">1E</option>
                    <option value="9">2A</option>
                    <option value="10">2B</option>
                    <option value="11">2C</option>
                    <option value="12">2D</option>
                    <option value="13">2E</option>
                    <option value="14">2F</option>
                    <option value="15">2G</option>
                    <option value="16">3A</option>
                    <option value="17">3B</option>
                    <option value="18">3C</option>
                    <option value="19">3D</option>
                    <option value="20">3E</option>
                    <option value="21">3F</option>
                    <option value="22">3G</option>
                    <option value="23">3H</option>
                    <option value="24">3I</option>
                </select>
            </div>
            <div class="form-group">
                <label for="booking_date">Booking Date:</label>
                <input type="date" id="booking_date" name="booking_date" required>
            </div>
            <div class="form-group">
                <label for="start_time">Start Time:</label>
                <select id="start_time" name="start_time" required>
                    {% for hour in range(16, 24) %}
                    <option value="{{ '%02d' % hour }}:00">{{ '%02d' % hour }}:00</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="button">Book</button>
        </form>
    </div>
</body>

</html>